body {
    background-color: ;
}

/*nav bar and my name*/
header {
   position: fixed;
   margin-top: 25px;
   padding: 10px;
   display: flex;
   justify-content: space-between;
}

/*my name*/
h1 {
    font-family: russo one;
    font-weight: lighter;
    font-size: 50px;
    display: flex;
    padding: 12px;
    border-style: solid;
    border-width: 5px 5px;
}

/*nav bar*/
nav {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin: 20px;

}

/*image of me*/
img {
   height:300px;
   width:300px;
   margin-top: 150px;
   margin-left: 50px;
   margin-bottom: 50px;
}

#contact {
    border-style: solid;
    border-width: 10px;
    border-color: black ;
}