body {
    background-color: #D0C9C0;
}

/*nav bar and my name*/
header {
   margin-top: 25px;
   padding: 10px;
   display: flex;
}

/*my name*/
header h1 {
    font-family: russo one;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    flex-basis: 20%;
    padding: 12px;
    border-style: solid;
    border-width: 5px 5px;
}
header nav {
    flex-basis: 80%;
    display: flex;
    justify-content: flex-end;
}

/*nav bar*/
header nav ul li {
    display: inline-block;
    
}

/*image of me*/
img {
   height:300px;
   width:300px;
   margin-top: 150px;
   margin-left: 45px;
   margin-bottom: 50px;
}

#aboutMe, #contact {
    border: 2px solid black;
}